<nav>
  <div class="nav-container">
    <div class="menu-container">
      <div><a href="/">Home</a></div>
      <% if (user != undefined && user != null) { %><div><a href="/posts">Posts</a></div><% } %>
      <% if (user != undefined && user != null) { %><div><a href="/add-post">New Post</a></div><% } %>
      <% if (user != undefined && user != null) { %><div><a href="/contacts">Contacts</a></div><% } %>
    </div>
    <div class="menu-container">
      <% if (user == undefined || user == null)  { %><div><a href="/user-login">Log In</a></div><% } %>
      <% if (user != undefined && user != null) { %><div><a href="/user-logoff">Log Off</a></div><% } %>
    </div>
  </div>
</nav>
